<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riven_chris.customview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".path.PathActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".views.android_distribution_graph.AndroidDistributionActivity" />
        <activity
            android:name=".paint.PaintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paint.ShaderSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paint.BitmapShaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paint.PaintFilterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".paint.XferModeActivity" />
        <activity
            android:name=".paint.LineAndShapeActivity"
            android:label="@string/title_activity_line_and_shape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".paint.ColorOptimizeActivity"
            android:label="@string/title_activity_color_optimize"
            android:theme="@style/AppTheme" />
        <activity android:name=".path.FillPathActivity" />
        <activity android:name=".canvas.CanvasActivity" />
        <activity android:name=".canvas.TextActivity" />
        <activity android:name=".canvas.ClipActivity" />
        <activity android:name=".canvas.MatrixActivity" />
        <activity android:name=".canvas.CameraCanvasActivity" />
        <activity android:name=".views.page_turning.TurningActivity" />
        <activity android:name=".ViewsActivity"></activity>
    </application>

</manifest>